:host {
  --pjs-bg: #fff;
  --pjs-fg: #000;
  --pjs-gap: 8px;
  --pjs-additions-color: rgb(0, 255, 0);
  --pjs-additions-color: #2ca94c;
  --pjs-deletions-color: rgb(255, 0, 0);
  --pjs-deletions-color: #ff3b30;
  --pjs-annotations-color: rgb(255, 255, 0);
  --pjs-tab-size: 2;
  --pjs-font-fallback:
    'SF Mono', Monaco, Consolas, 'Ubuntu Mono', 'Liberation Mono',
    'Courier New', monospace;
}

pre,
code {
  margin: 0;
  padding: 0;
  display: block;
}

*,
*:before,
*:after {
  font-family: var(--pjs-font-family, var(--pjs-font-fallback));
  font-size: var(--pjs-font-size, 14px);
  line-height: var(--pjs-line-height, 20px);
}

[data-file-info] {
  padding: 10px;
  font-weight: 700;
  color: var(--fg);
  background-color: color-mix(in srgb, var(--bg) 98%, var(--fg));
  border-block: 1px solid color-mix(in srgb, var(--bg) 95%, var(--fg));
}

[data-pjs] {
  color-scheme: light dark;

  --pjs-mixer: light-dark(black, white);

  --pjs-bg: light-dark(var(--pjs-light-bg), var(--pjs-dark-bg));
  --pjs-bg-buffer: color-mix(in srgb, var(--pjs-bg) 97%, var(--pjs-mixer));
  --pjs-bg-hover: color-mix(in srgb, var(--pjs-bg) 95%, var(--pjs-mixer));

  --pjs-fg: light-dark(var(--pjs-light), var(--pjs-dark));
  --pjs-fg-number: color-mix(in srgb, currentColor 65%, transparent);

  --pjs-bg-deletions: color-mix(in srgb, var(--pjs-bg) 90%, rgb(255, 0, 0));
  --pjs-bg-additions: color-mix(in srgb, var(--pjs-bg) 90%, rgb(0, 255, 0));
  --pjs-bg-deletions-emphasis: color-mix(
    in srgb,
    var(--pjs-bg) 70%,
    rgb(255, 0, 0)
  );
  --pjs-bg-additions-emphasis: color-mix(
    in srgb,
    var(--pjs-bg) 70%,
    rgb(0, 255, 0)
  );
  --pjs-bg-deletions-number: color-mix(
    in srgb,
    var(--pjs-bg) 85%,
    var(--pjs-deletions-color)
  );
  --pjs-bg-additions-number: color-mix(
    in srgb,
    var(--pjs-bg) 85%,
    var(--pjs-additions-color)
  );
  --pjs-bg-annotation: color-mix(
    in srgb,
    var(--pjs-bg) 75%,
    var(--pjs-annotations-color)
  );
  --pjs-code-grid: minmax(min-content, max-content) 1fr;

  background-color: var(--pjs-bg);
  color: var(--pjs-fg);

  [data-column-content] span {
    color: light-dark(var(--pjs-light), var(--pjs-dark));
    font-weight: var(--pjs-light-font-weight);
    font-style: var(--pjs-light-font-style);
  }
}

@media (prefers-color-scheme: dark) {
  [data-pjs] {
    color-scheme: dark;

    [data-column-content] span {
      font-weight: var(--pjs-dark-font-weight);
      font-style: var(--pjs-dark-font-style);
    }
  }
}

[data-pjs][data-theme='light'] {
  color-scheme: light;

  [data-column-content] span {
    font-weight: var(--pjs-light-font-weight);
    font-style: var(--pjs-light-font-style);
  }
}

[data-pjs][data-theme='dark'] {
  color-scheme: dark;

  [data-column-content] span {
    font-weight: var(--pjs-dark-font-weight);
    font-style: var(--pjs-dark-font-style);
  }
}

[data-type='split'][data-overflow='wrap'] {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(2, var(--pjs-code-grid));
}

[data-type='split'][data-overflow='scroll'] {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

[data-code] {
  display: block;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: var(--pjs-code-grid);
  overflow-x: auto;
  scrollbar-width: none;
  overscroll-behavior-x: contain;
  tab-size: var(--pjs-tab-size);
  align-self: flex-start;
}

[data-type='split'][data-overflow='wrap'] [data-code] {
  display: contents;
}

[data-line-annotation],
[data-line] {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / 3;
}

[data-buffer] {
  grid-column: 1 / 3;
  user-select: none;
  background-color: var(--pjs-bg-buffer);
  min-height: 1lh;
}

[data-separator] {
  grid-column: span 2;
  height: 4px;
  background-color: var(--pjs-bg-buffer);
}

[data-line] {
  background-color: var(--pjs-bg);
  color: var(--pjs-fg);
}

[data-type='split'][data-overflow='wrap'] [data-deletions] {
  [data-line-annotation],
  [data-buffer],
  [data-line],
  [data-separator] {
    grid-column: 1 / 3;
  }
}

[data-line-annotation] {
  min-height: var(--pjs-annotation-min-height);
}

[data-type='split'][data-overflow='wrap'] [data-additions] {
  [data-line-annotation],
  [data-buffer],
  [data-line],
  [data-separator] {
    grid-column: 3 / 5;
  }
}

[data-column-content],
[data-column-number] {
  padding-inline: 8px;
}

[data-overflow='wrap'] [data-column-content],
[data-overflow='wrap'] [data-annotation-content] {
  white-space: pre-wrap;
  word-break: break-all;
}

[data-overflow='scroll'] [data-column-content] {
  white-space: pre;
  min-height: 1lh;
}

[data-column-number] {
  text-align: right;
  position: sticky;
  left: 0;
  user-select: none;
  background-color: var(--pjs-bg);
  color: var(--pjs-fg-number);
  z-index: 1;
  min-width: 32px;
}

[data-diff-span] {
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  position: relative;
}

/* FIXME: this doesn't work great with linewrapping really... */
[data-diff-span]:before,
[data-diff-span]:after {
  content: '';
  position: absolute;
  height: 1lh;
  width: 1px;
  background-color: var(--pjs-bg);
}

[data-diff-span]:before {
  margin-left: -1px;
}

[data-diff-span]:after {
  bottom: 0;
  margin-right: -1px;
}

[data-line-type='change-addition'] {
  background-color: var(--pjs-bg-additions);

  [data-column-number] {
    background-color: var(--pjs-bg-additions-number);
  }

  [data-diff-span] {
    background-color: var(--pjs-bg-additions-emphasis);
  }
}

[data-line-type='change-deletion'] {
  background-color: var(--pjs-bg-deletions);

  [data-column-number] {
    background-color: var(--pjs-bg-deletions-number);
  }

  [data-diff-span] {
    background-color: var(--pjs-bg-deletions-emphasis);
  }
}

[data-line]:hover {
  [data-column-number],
  [data-column-content] {
    background-color: var(--pjs-bg-hover);
  }

  &[data-line-type='change-addition'] [data-column-number] {
    background-color: var(--pjs-bg-additions-number);
  }

  &[data-line-type='change-addition'] [data-column-content] {
    background-color: var(--pjs-bg-additions-number);
  }

  &[data-line-type='change-deletion'] [data-column-number] {
    background-color: var(--pjs-bg-deletions-number);
  }

  &[data-line-type='change-deletion'] [data-column-content] {
    background-color: var(--pjs-bg-deletions-number);
  }
}

[data-pjs-header] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--pjs-gap);
  padding: var(--pjs-gap);
}

[data-header-content] {
  display: flex;
  flex-direction: row;
  gap: var(--pjs-gap);
  min-width: 0;
  white-space: nowrap;
}

[data-header-content] [data-prev-name],
[data-header-content] [data-title] {
  direction: rtl;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  white-space: nowrap;
}

[data-prev-name] {
  color: color-mix(in srgb, var(--pjs-fg) 60%, var(--pjs-bg));

  /* LMAO this is kinda ass, but also we don't want to depend on berkeley ligs
  * so we need to wait for mdo's icons */
  &::before {
    content: '<-- ';
  }
}

[data-pjs-header] [data-metadata] {
  display: flex;
  align-items: center;
  gap: calc(var(--pjs-gap) / 2);
  white-space: nowrap;
}

[data-pjs-header] [data-additions] {
  color: var(--pjs-additions-color);
}

[data-pjs-header] [data-deletions] {
  color: var(--pjs-deletions-color);
}

[data-no-newline] {
  user-select: none;
  opacity: 0.6;
}

[data-line-annotation] {
  background-color: var(--pjs-bg-buffer);
}

[data-annotation-content] {
  position: sticky;
  left: var(--pjs-number-column-width, 0);
  grid-column: 2 / -1;
  width: var(--pjs-annotation-content-width, auto);
  align-self: flex-start;
  overflow: hidden;
}

/* Undo some of the stuff that the `pre` tag does */
[data-annotation-slot] {
  text-wrap-mode: wrap;
  word-break: normal;
  white-space-collapse: collapse;
}
