:root {
  color-scheme: light dark;

  --fg: light-dark(#213547, #ffffff);
  --bg: light-dark(#ffffff, #213547);

  font-family:
    'Berkeley Mono', 'JetBrains Mono', 'Fira Code', 'Source Code Pro',
    'SF Mono', Monaco, Consolas, 'Ubuntu Mono', 'Liberation Mono',
    'Courier New', monospace;
  font-size: 14px;
  line-height: 20px;

  color: var(--fg);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html[data-theme='light'] {
  color-scheme: light;
}

html[data-theme='dark'] {
  color-scheme: dark;
}

html,
body {
  background-color: light-dark(white, black);
}

html,
body,
#root {
  display: block;
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  min-width: 100dvw;
  min-height: 100dvh;
  overscroll-behavior: none;
  touch-action: manipulation;
  zoom: 1;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

input[type='text'],
textarea {
  font-family: inherit;
  border-radius: 0;
  appearance: none;
  border-radius: 0;
  border: 1px solid var(--fg);
  padding: 4px 4px;
  outline: none;
  resize: none;
  margin: 0;

  &:focus {
    border-color: blue;
  }
}

#root {
  margin: 0;
  min-width: 320px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #747bff;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding-block: 4px;
  padding-inline: 8px;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--bg);
  color: var(--fg);
  cursor: pointer;

  &:hover {
    border-color: #646cff;
  }
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

pre,
code {
  font-family: inherit;
  margin: 0;
  padding: 0;
}

.tools-container {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: color-mix(in srgb, var(--bg) 90%, transparent);
}

.tools {
  padding: 12px;
  display: flex;
  gap: 12px;
  align-items: center;
}

.wrapper {
  display: grid;
  min-width: 0;
  min-height: 0;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));

  width: 100vw;
  height: 100vh;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

.wrapper[data-diff] {
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  min-height: auto;
  width: auto;
  height: auto;
  display: block;
  padding-top: 50px;
}

[data-pjs] {
  min-height: 0;
  overflow-y: auto;
  scrollbar-width: none;
  overscroll-behavior-y: contain;
}

[data-file-info] {
  padding: 10px;
  font-weight: 700;
  color: var(--fg);
  background-color: color-mix(in srgb, var(--bg) 98%, var(--fg));
  border-block: 1px solid color-mix(in srgb, var(--bg) 95%, var(--fg));
}

[data-code] {
  tab-size: 2;
  font-size: 14px;
  line-height: 20px;
}

[data-column-number] {
  min-width: 32px;
}

[data-column-content],
[data-column-number] {
  padding-inline: 8px;
}

/* Fix for inline padding on content */
[data-column-content] > span:first-of-type[data-annotation] {
  margin-left: -8px;
  padding-left: 8px;
}

[data-commit-metadata] {
  margin-top: 10px;
  padding: 10px;
}

.files-input {
  position: fixed;
  z-index: 20;
  inset: 50px 0 0 0;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  background-color: color-mix(in srgb, var(--bg) 80%, transparent);
  gap: 10px;
}

.file {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
}

.file input {
  font-size: 14px;
}

.buttons {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row-reverse;
}

[data-pjs],
[data-pjs-header] {
  content-visibility: auto;
}

[data-pjs-header] {
  contain-intrinsic-size: auto 36px;
}
