:root {
  font-family:
    'Berkeley Mono', 'JetBrains Mono', 'Fira Code', 'Source Code Pro',
    'SF Mono', Monaco, Consolas, 'Ubuntu Mono', 'Liberation Mono',
    'Courier New', monospace;
  font-size: 16px;
  line-height: 1.375;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #242424;
  }
}

html,
body,
#root {
  display: block;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  overscroll-behavior: none;
  touch-action: manipulation;
  zoom: 1;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

#root {
  margin: 0;
  min-width: 320px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding-block: 4px;
  padding-inline: 8px;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

pre,
code {
  font-family: inherit;
  margin: 0;
  padding: 0;
}

.tools {
  position: sticky;
  top: 0;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 100%;
  box-sizing: border-box;
  z-index: 2;
  display: flex;
  gap: 12px;
}

@media (prefers-color-scheme: dark) {
  .tools {
    background-color: rgba(36, 36, 36, 0.8);
  }
}

.content {
  display: grid;
  min-width: 0;
  min-height: 0;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  width: 100%;
}

[data-pierrejs] {
  overflow-y: auto;
  scrollbar-width: none;
  min-height: 0;
}

[data-code] {
  display: block;
  padding-block: 4px;
  text-align: left;
  display: grid;
  grid-template-columns: minmax(min-content, max-content) 1fr;
  overflow-x: auto;
  scrollbar-width: none;
  overscroll-behavior-x: contain;
  tab-size: 2;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}

[data-line] {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / 3;
}

[data-line]:hover [data-column-number],
[data-line]:hover [data-column-content] {
  background-color: color-mix(in srgb, var(--shiki-light-bg) 95%, black);
}

@media (prefers-color-scheme: dark) {
  [data-line]:hover [data-column-number],
  [data-line]:hover [data-column-content] {
    background-color: color-mix(in srgb, var(--shiki-dark-bg) 95%, white);
  }
}

[data-theme='light'] [data-line]:hover [data-column-number],
[data-theme='light'] [data-line]:hover [data-column-content] {
  background-color: color-mix(in srgb, var(--shiki-light-bg) 95%, black);
}

[data-column-number] {
  padding-right: 8px;
  text-align: right;
  position: sticky;
  left: 0;
  padding-inline: 8px;
  user-select: none;
  min-width: 32px;
  color: color-mix(in srgb, currentColor 50%, #fff);
}

@media (prefers-color-scheme: dark) {
  [data-column-number] {
    color: color-mix(in srgb, currentColor 50%, #000);
  }
}

[data-theme='light'] [data-column-number] {
  color: color-mix(in srgb, currentColor 50%, #fff);
}

[data-column-content] {
  white-space: pre;
  min-height: 22px;
}

[data-pierrejs] {
  background-color: var(--shiki-light-bg);
  color: var(--shiki-light);

  & span {
    color: var(--shiki-light);
  }

  & [data-column-number] {
    background-color: var(--shiki-light-bg);
  }
}

@media (prefers-color-scheme: dark) {
  [data-pierrejs] {
    background-color: var(--shiki-dark-bg);
    color: var(--shiki-dark);

    & span {
      color: var(--shiki-dark);
    }

    & [data-column-number] {
      background-color: var(--shiki-dark-bg);
    }
  }
}

[data-theme='light'] {
  background-color: var(--shiki-light-bg);
  color: var(--shiki-light);

  & span {
    color: var(--shiki-light);
  }

  & [data-column-number] {
    background-color: var(--shiki-light-bg);
  }
}

[data-theme='dark'] {
  background-color: var(--shiki-dark-bg);
  color: var(--shiki-dark);

  & span {
    color: var(--shiki-dark);
  }

  & [data-column-number] {
    background-color: var(--shiki-dark-bg);
  }
}
