:root {
  font-family:
    'Berkeley Mono', 'JetBrains Mono', 'Fira Code', 'Source Code Pro',
    'SF Mono', Monaco, Consolas, 'Ubuntu Mono', 'Liberation Mono',
    'Courier New', monospace;
  font-size: 16px;
  line-height: 1.375;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #242424;
  }
}

html,
body,
#root {
  display: block;
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  min-width: 100dvw;
  min-height: 100dvh;
  overscroll-behavior: none;
  touch-action: manipulation;
  zoom: 1;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

#root {
  margin: 0;
  min-width: 320px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #747bff;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding-block: 4px;
  padding-inline: 8px;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;

  &:hover {
    border-color: #646cff;
  }
}

@media (prefers-color-scheme: dark) {
  button {
    background-color: #1a1a1a;
  }
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

pre,
code {
  font-family: inherit;
  margin: 0;
  padding: 0;
}

.tools-container {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
}

.tools {
  padding: 12px;
  display: flex;
  gap: 12px;
}

@media (prefers-color-scheme: dark) {
  .tools-container {
    background-color: rgba(36, 36, 36, 0.8);
  }
}

.content {
  display: grid;
  min-width: 0;
  min-height: 0;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));

  width: 100vw;
  height: 100vh;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

.content[data-diff] {
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  min-height: auto;
  width: auto;
  height: auto;
  display: block;
  padding-top: 50px;
}

[data-pierrejs] {
  overflow-y: auto;
  scrollbar-width: none;
  min-height: 0;
}

[data-file-info] {
  background-color: #000;
  color: #fff;
  padding: 10px;
}

[data-separator] {
  border-bottom: 5px solid #000;
  grid-column: 1 / -1;
}

[data-code] {
  display: block;
  padding-block: 4px;
  text-align: left;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: minmax(min-content, max-content) 1fr;
  overflow-x: auto;
  scrollbar-width: none;
  overscroll-behavior-x: contain;
  tab-size: 2;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}

[data-type='split'] [data-code] {
  grid-template-columns:
    minmax(min-content, max-content) 1fr minmax(min-content, max-content)
    1fr;
}

[data-buffer],
[data-line] {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / 3;
}

[data-buffer] {
  user-select: none;
  background-color: rgba(0, 0, 0, 0.2);
}

[data-type='split'] [data-line][data-deletions] {
  grid-column: 1 / 3;
}

[data-type='split'] [data-line][data-additions],
[data-type='split'] [data-buffer][data-additions] {
  grid-column: 3 / 5;
}

[data-line]:hover [data-column-number],
[data-line]:hover [data-column-content] {
  background-color: color-mix(
    in srgb,
    var(--pjs-light-bg, var(--pjs-bg)) 95%,
    black
  );
}

@media (prefers-color-scheme: dark) {
  [data-line]:hover [data-column-number],
  [data-line]:hover [data-column-content] {
    background-color: color-mix(
      in srgb,
      var(--pjs-dark-bg, var(--pjs-bg)) 95%,
      white
    );
  }
}

[data-theme='light'] [data-line]:hover [data-column-number],
[data-theme='light'] [data-line]:hover [data-column-content] {
  background-color: color-mix(
    in srgb,
    var(--pjs-light-bg, var(--pjs-bg)) 95%,
    black
  );
}

[data-theme='dark'] [data-line]:hover [data-column-number],
[data-theme='dark'] [data-line]:hover [data-column-content] {
  background-color: color-mix(
    in srgb,
    var(--pjs-dark-bg, var(--pjs-bg)) 95%,
    white
  );
}

[data-column-number] {
  padding-right: 8px;
  text-align: right;
  position: sticky;
  left: 0;
  padding-inline: 8px;
  user-select: none;
  min-width: 32px;
  color: color-mix(in srgb, currentColor 50%, #fff);
}

@media (prefers-color-scheme: dark) {
  [data-column-number] {
    color: color-mix(in srgb, currentColor 50%, #000);
  }
}

[data-theme='light'] [data-column-number] {
  color: color-mix(in srgb, currentColor 50%, #fff);
}

[data-column-content] {
  white-space: pre-wrap;
  min-height: 22px;
}

[data-pierrejs] {
  background-color: var(--pjs-light-bg);
  color: var(--pjs-light);

  & span {
    color: var(--pjs-light);
  }

  & [data-column-number] {
    background-color: var(--pjs-light-bg);
  }
}

@media (prefers-color-scheme: dark) {
  [data-pierrejs] {
    background-color: var(--pjs-dark-bg);
    color: var(--pjs-dark);

    & span {
      color: var(--pjs-dark);
    }

    & [data-column-number] {
      background-color: var(--pjs-dark-bg);
    }
  }
}

[data-theme='light'] {
  background-color: var(--pjs-light-bg);
  color: var(--pjs-light);

  & span {
    color: var(--pjs-light);
  }

  & [data-column-number] {
    background-color: var(--pjs-light-bg);
  }
}

[data-theme='dark'] {
  background-color: var(--pjs-dark-bg);
  color: var(--pjs-dark);

  & span {
    color: var(--pjs-dark);
  }

  & [data-column-number] {
    background-color: var(--pjs-dark-bg);
  }
}

[data-additions][data-line-type='change'] {
  background-color: rgba(0, 255, 0, 0.1);
}

[data-deletions][data-line-type='change'] {
  background-color: rgba(255, 0, 0, 0.1);
}

[data-lol] {
  display: inline-block;
  line-height: 22px;
  min-height: 22px;
  background-color: rgba(255, 255, 0, 0.2);
  white-space: pre-wrap;
  word-break: break-all;
  overflow-wrap: break-word;
  min-width: 1ch;
}
